@model List<TodoApp.Todo>
<html>
<head>
    @{ 
        Layout = "_Layout";
    }
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="~/CSS/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row" >
            <div class="col-md-10">
                <h1>My Todos</h1>
                    <table class="table table-striped table-bordered col-lg-10 table-hover">
                        <tr>
                            <td>ID</td>
                            <td>Description</td>
                            <td>Done</td>
                            <td>Importance</td>
                            <td>Delete</td>
                            <td>Update</td>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><h3><strong>@item.Id</strong></h3></td>
                                <td>
                                    <h3><strong><a href="/@item.Id/item"> @item.Title</a></strong></h3>
                                    <input type="hidden" class="bg-warning active"name="Id" value="@item.Id" />
                                </td>
                                @if (item.IsDone == true)
                                {
                                    <td><img src="~/Assets/c.png"/></td>
                                }
                                else if (item.IsDone == false)
                                {
                                    <td><img src="~/Assets/x.png"/></td>
                                }
                                @if (item.IsUrgent == true)
                                {
                                    <td><img src="~/Assets/c.png"/></td>
                                }
                                else if (item.IsUrgent == false)
                                {
                                    <td><img src="~/Assets/x.png"/></td>
                                }                               
                                <td>
                                    <form action="/(@item.Id)/delete" method="post">
                                        <input type="hidden" name="Id" value="@item.Id" />
                                        <button id="table" class="btn btn-lg active btn-primary" type="submit">Delete</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="/(@item.Id)/update" method="get">
                                        <input type="hidden" name="Id" value="@item.Id" />
                                        <button id="table" class="btn btn-lg active btn-info" type="submit">Edit</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </table>
                <h2><strong><a href="/todo/add">Add new Todo</a></strong></h2>
            </div>                     
        </div>
    </div>
</body>
</html>